/* Styles specific to index.html */

.feature, .testimonial, .screenshot {
  background-color: #1a1a1a;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
}

.faq-item {
  margin-bottom: 1rem;
}

.faq-question {
  background-color: #1a1a1a;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question .arrow {
  margin-left: 1rem;
  transition: transform 0.3s ease;
}

.faq-question.open .arrow {
  transform: rotate(90deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background-color: #1e1e1e;
  border-radius: 10px;
  margin-top: 0.5rem;
  padding: 0 1rem;
  border: none;
}

.faq-answer.open {
  max-height: 200px;
  padding: 1rem;
}